<html>
<head>
<title>Calculator</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
#myProgress, #myCalc {
	width: 100%;
	background-color: #ffffff;
}

#myBar, #myCal {
	width: 0%;
	height: 30px;
	background-color: #4CAF50;
}

#wrapper {
	margin-right: 200px;
}

#content {
	float: left;
	width: 100%;
}

#sidebar {
	float: right;
	width: 200px;
}
</style>
<body>
	<div class="container" id="mainTables">
		<table class="table" id="balanceTable">
			<thead>
				<tr>
					<th id="scenarioName">Scenario</th>
					<th id="totalBalanceName">Scenario Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active">
					<td id="scenario" th:text="${loanList.scenario}"></td>
					<td id="totalBalance" th:text="${loanList.totalBalance}"
						pattern="[0-9]*"></td>
				</tr>
			</tbody>
		</table>
		Adjustment Rates for Survival by Period
		<table class="table" id="survivalTable">
			<thead>
				<tr>
					<th id="survival0">1</th>
					<th id="survival1">2</th>
					<th id="survival2">3</th>
					<th id="survival3">4</th>
					<th id="survival4">5</th>
					<th id="survival5">6</th>
					<th id="survival6">7</th>
					<th id="survival7">8</th>
					<th id="survival8">9</th>
					<th id="survival9">10</th>
					<th id="survival10">11</th>
					<th id="survival11">12</th>
					<th id="survival12">13</th>
					<th id="survival13">14</th>
					<th id="survival14">15</th>
					<th id="survival15">16</th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning">
					<td id="survival00" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[0]}"></td>
					<td id="survival01" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[1]}"></td>
					<td id="survival02" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[2]}"></td>
					<td id="survival03" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[3]}"></td>
					<td id="survival04" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[4]}"></td>
					<td id="survival05" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[5]}"></td>
					<td id="survival06" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[6]}"></td>
					<td id="survival07" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[7]}"></td>
					<td id="survival08" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[8]}"></td>
					<td id="survival09" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[9]}"></td>
					<td id="survival010" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[10]}"></td>
					<td id="survival011" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[11]}"></td>
					<td id="survival012" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[12]}"></td>
					<td id="survival013" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[13]}"></td>
					<td id="survival014" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[14]}"></td>
					<td id="survival015" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.survival[15]}"></td>
				</tr>
			</tbody>
		</table>
		Adjustment Rates for Loss-Rate by Period
		<table class="table" id="lossRateTable">
			<thead>
				<tr>
					<th id="lossRate0">1</th>
					<th id="lossRate1">2</th>
					<th id="lossRate2">3</th>
					<th id="lossRate3">4</th>
					<th id="lossRate4">5</th>
					<th id="lossRate5">6</th>
					<th id="lossRate6">7</th>
					<th id="lossRate7">8</th>
					<th id="lossRate8">9</th>
					<th id="lossRate9">10</th>
					<th id="lossRate10">11</th>
					<th id="lossRate11">12</th>
					<th id="lossRate12">13</th>
					<th id="lossRate13">14</th>
					<th id="lossRate14">15</th>
					<th id="lossRate15">16</th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning">
					<td id="lossRate00" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[0]}"></td>
					<td id="lossRate01" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[1]}"></td>
					<td id="lossRate02" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[2]}"></td>
					<td id="lossRate03" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[3]}"></td>
					<td id="lossRate04" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[4]}"></td>
					<td id="lossRate05" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[5]}"></td>
					<td id="lossRate06" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[6]}"></td>
					<td id="lossRate07" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[7]}"></td>
					<td id="lossRate08" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[8]}"></td>
					<td id="lossRate09" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[9]}"></td>
					<td id="lossRate010" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[10]}"></td>
					<td id="lossRate011" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[11]}"></td>
					<td id="lossRate012" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[12]}"></td>
					<td id="lossRate013" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[13]}"></td>
					<td id="lossRate014" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[14]}"></td>
					<td id="lossRate015" onfocusout="getArray(this); highlight(this)"
						contenteditable='true' placeholder="1.0"
						th:text="${loanList.lossRate[15]}"></td>
				</tr>
			</tbody>
		</table>
		Total Loss Amounts by Period
		<table class="table" id="totalLossAmountTable">
			<thead>
				<tr>
					<th id="totalLossAmounts0">1</th>
					<th id="totalLossAmounts1">2</th>
					<th id="totalLossAmounts2">3</th>
					<th id="totalLossAmounts3">4</th>
					<th id="totalLossAmounts4">5</th>
					<th id="totalLossAmounts5">6</th>
					<th id="totalLossAmounts6">7</th>
					<th id="totalLossAmounts7">8</th>
					<th id="totalLossAmounts8">9</th>
					<th id="totalLossAmounts9">10</th>
					<th id="totalLossAmounts10">11</th>
					<th id="totalLossAmounts11">12</th>
					<th id="totalLossAmounts12">13</th>
					<th id="totalLossAmounts13">14</th>
					<th id="totalLossAmounts14">15</th>
					<th id="totalLossAmounts15">16</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="totalLossAmounts00"
						th:text="${loanList.totalLossAmounts[0]}"></td>
					<td id="totalLossAmounts01"
						th:text="${loanList.totalLossAmounts[1]}"></td>
					<td id="totalLossAmounts02"
						th:text="${loanList.totalLossAmounts[2]}"></td>
					<td id="totalLossAmounts03"
						th:text="${loanList.totalLossAmounts[3]}"></td>
					<td id="totalLossAmounts04"
						th:text="${loanList.totalLossAmounts[4]}"></td>
					<td id="totalLossAmounts05"
						th:text="${loanList.totalLossAmounts[5]}"></td>
					<td id="totalLossAmounts06"
						th:text="${loanList.totalLossAmounts[6]}"></td>
					<td id="totalLossAmounts07"
						th:text="${loanList.totalLossAmounts[7]}"></td>
					<td id="totalLossAmounts08"
						th:text="${loanList.totalLossAmounts[8]}"></td>
					<td id="totalLossAmounts09"
						th:text="${loanList.totalLossAmounts[9]}"></td>
					<td id="totalLossAmounts010"
						th:text="${loanList.totalLossAmounts[10]}"></td>
					<td id="totalLossAmounts011"
						th:text="${loanList.totalLossAmounts[11]}"></td>
					<td id="totalLossAmounts012"
						th:text="${loanList.totalLossAmounts[12]}"></td>
					<td id="totalLossAmounts013"
						th:text="${loanList.totalLossAmounts[13]}"></td>
					<td id="totalLossAmounts014"
						th:text="${loanList.totalLossAmounts[14]}"></td>
					<td id="totalLossAmounts015"
						th:text="${loanList.totalLossAmounts[15]}"></td>
				</tr>
			</tbody>
		</table>
		<table class="table" id="totalLossTable">
			<thead>
				<tr>
					<th id="totalLoss">Total Loss for all Periods</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active">
					<td id="totalLoss" th:text="${loanList.totalLoss}" pattern="[0-9]*"></td>
				</tr>
			</tbody>
		</table>
		<div id="postResultDiv"></div>
		<br />
	</div>
</body>
<script th:inline="javascript">
		/*<![CDATA[*/
	var suvivaldata = Array();
	var lossratedata = Array();
	var index;
	var scenarioSelected = sessionStorage.myvar;
	document.getElementById("scenario").textContent=scenarioSelected;
	function getArray(x) {
		
		var id = $(x).closest('table').attr('id');
		var cellIndex = x.cellIndex;
		$("#survivalTable tr").each(function(i, v) {
			//suvivaldata[i] = Array();
			$(this).children('td').each(function(ii, vv) {
				suvivaldata[ii] = $(this).text();
			});
		})

		$("#lossRateTable tr").each(function(i, v) {
			//lossratedata[i] = Array();
			$(this).children('td').each(function(ii, vv) {
				lossratedata[ii] = $(this).text();
			});
		})
		var formData = {
			survival : suvivaldata,
			lossRate : lossratedata,
			index: cellIndex,
			scenario: scenarioSelected
		}
		// DO POST
		$.ajax({
			type : "POST",
			contentType : "application/json",
			url : "/home/analysis",
			data : JSON.stringify(formData),
			dataType : 'json',
			success : function(result) {
				location.reload();
			},
			error : function(e) {
				console.log("ERROR: ", e);
				location.reload();
			}
		});
	}
	
	function highlight(x) {
		var id = $(x).closest('table').attr('id');
		var cellIndex = x.cellIndex;
		var lossrate = $("#lossRateTable #lossRate0"+ cellIndex).css("background-color","black").css("color","white");
		var survival = $("#survivalTable #survival0" + cellIndex).css("background-color","black").css("color","white");
		var totalLossAmount = $("#totalLossAmountTable #totalLossAmounts0" + cellIndex).css("background-color","black").css("color","white");
		var totalLoss = $("#totalLossTable #totalLoss").css("background-color","black").css("color","white");
	}

	function blurBalanceFunction(x) {
		var id = $(x).closest('table').attr('id');
		var cellIndex = x.cellIndex;
		var loanId = $("#balanceTable #loanId").text();
		var balance = x.firstChild.nodeValue;
		alert("LoanId ::: " + loanId + " ----> Balance is: " + balance);
	}
	/*]]>*/
</script>
</html>